@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@300&family=Shalimar&display=swap");

:root {
  --primaryColor: #172243;
  --secondaryColor: #546ccd;
  --tertiaryColor: #9474bf;
  --fourthColor: #f1aac7;
  --fifthColor: #9c8be7;
  --additionalColor: #ed008c;
  --primaryTrans: rgba(23, 34, 67, 0.5);
  --white: #FFF;
}
/*Page resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Cairo", Helvetica, Arial, sans-serif;
  color: var(--primaryColor);
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
.footer {
  /* background-color: var(--primaryColor); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  color: white;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navMenu  {
  display: flex;
  align-items: center;
  width: 60%;
  text-decoration: none;
}

.navItem {
  display: flex;
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1.5rem;
  width: 60%;
  margin: 0 1rem;
 }

span {
  margin: 2px 5px;
  font-weight: lighter;
  transform: all 0.7s ease-in;
}
span:hover {
  font-weight: Bold;
  color: var(--fourthColor);
  text-shadow: var(--primaryTrans);
}
/* Container styling */
.heroContainer  {
  border: 0.5rem solid var(--primaryColor);
  margin: 0.5rem;
}
.contentContainer {
  background-color: var(--primaryColor);
  margin: 0.5rem;
  padding: 0.5rem;
}
.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondaryColor);
  background-color: var(--fifthColor);
  /* border-radius: 1rem; */
  box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
  padding: 1rem;
  margin: 0 auto;
}
.contentPage  {
  background-color: #ffffff;
  padding: 0.5rem;
}
/* Card Styling */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:100%
}
.card {
  border: 2px solid var(--primaryColor);
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
  margin: 1rem;
  max-width: 769px;
}
.cardImg  {
  height: 48px;
  width: auto;
  margin: 0 0.5rem;
}
.cardTitle  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  color: var(--secondaryColor);
  padding: .5rem;
  border: none;
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.cardBody img{
  width: 250px;
  height: auto;
  padding: 1rem;
}
.cardDescription, .cardFooter, .footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:0.5rem 1rem;
  color: var(--secondaryColor);
  font-weight: bold;
  text-align: justify;
  width:100%;
}

/* Hero styling */
.hero  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: right;
    background-image: url("../images/heroBg.png");
    background-position: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: auto;
}
 .heroQuote {
    width: 40%;
    text-align: right;
    font-weight: lighter;
    font-style: italic;
    font-size: 16px;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    color: var(--tertiaryColor);
    text-shadow: 0 0 1px rgba(0, 0, 0, 05);
    padding: 40px 25px;
 }
 .heroQuote h2 span  {
    width: 35%;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia;
    color: var(--secondaryColor);
    text-shadow: #0f0f0f;
 }

 /* Content styling */
 p  {
    color: var(--primaryColor);
    font-size: 1rem;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    text-align: justify;
    padding: 1rem;
}
 p span {
    color: var(--tertiaryColor);
    font-weight: lighter;
    font-style: italic;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.para {
  padding: 0;
  margin: 1rem 0;
}
.name {
  font-size: 1rem;
  text-shadow: none;
}
.title  {
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 0 0 1px rgba(0, 0, 0, 05);
  color: var(--white);
}

/* Form styling */
form {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color:var(--secondaryColor);
  font-size: 1.25rem;
  font-weight: bold;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primaryColor);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin: .5rem 0;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}
textarea {
	width: 45;
	height: 120px;
	border: 1px solid var(--primaryColor);
	padding: 1rem;
}
form button {
  width: 6rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--secondaryColor);
  color:var(--white);
  transition: 100ms ease-in;
}
button:hover{
  background-color: var(--additionalColor);
  
}

/* media queries for responsive design */
@media screen and (max-width: 525px) {
  .logo {
    height: 75px;
    width: auto;
    margin: 0 0.5rem;;
  }
  
  .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navMenu  {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
}

.navItem {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1rem;
  width: 100%;
  margin: 0 1rem;
 }

span {
  margin: 2px 5px;
  font-weight: lighter;
  transform: all 0.7s ease-in;
}
span:hover {
  font-weight: Bold;
  color: var(--fourthColor);
  text-shadow: var(--primaryTrans);
}
.hero {
    display: flex;
    background-image: url("../images/heroBg2.png");
    background-position: cover;
    background-repeat: no-repeat;
    height: 200px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0.5rem 1rem;
  width:100%;
}

}
/* combine media queries widths to cover middle transtion */
@media screen and (min-width: 526px) and (max-width: 768px)  {
  .hero {
    display: flex;
    background-image: url("../images/heroBg3.png");
    background-position: cover;
    background-repeat: no-repeat;
    height: 250px;
    
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navMenu  {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
}

.navItem {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1.25rem;
  width: 100%;
  margin: 0 1rem;
 }
}

@media screen and (max-width: 906px)  {
   .heroQuote {
         display: none;
     }
}
