@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@300&family=Shalimar&display=swap");

:root {
  --primaryColor: #172243;
  --secondaryColor: #546ccd;
  --tertiaryColor: #9474bf;
  --fourthColor: #f1aac7;
  --fifthColor: #9c8be7;
  --accentColor: #172243;
  --additionalColor: #ed008c;
  --primaryTrans: rgba(23, 34, 67, 0.5);
}
/*Page resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Cairo", Helvetica, Arial, sans-serif;
  color: var(--primaryColor);
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid var(--primaryColor);
}
.burgerMenu {
  height: 60px;
  width: auto;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navMenu  {
  width: 100%;
  text-decoration: none;
}

.navItem {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 2rem;
  width: 100%;
  margin: 0 1.5rem;
 }

span {
  margin: 2px 5px;
  font-weight: lighter;
  transform: all 0.7s ease-in;
}
span:hover {
  font-weight: Bold;
  color: var(--fourthColor);
  text-shadow: var(--primaryTrans);
}

/* media queries for responsive design */
@media screen and (max-width: 480px) {
  .logo {
    height: 75px;
    width: auto;
    margin: 0 0.5rem;;
  }
  .burgerMenu {
    height: 40px;
    width: auto;
  }
  .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navMenu  {
  width: 100%;
  text-decoration: none;
}

.navItem {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1rem;
  width: 100%;
  margin: 0 1rem;
 }

span {
  margin: 2px 5px;
  font-weight: lighter;
  transform: all 0.7s ease-in;
}
span:hover {
  font-weight: Bold;
  color: var(--fourthColor);
  text-shadow: var(--primaryTrans);
}
}
